*{
    margin: 0;
    padding: 0;
}

.container{
    border: 2px solid black;
    width: 70vw;
    margin: 40px auto;
    font-family: comic sans MS;
}

h1{
    text-align: center;
    margin: 10px 0;
}

form{
    /* border: 2px solid red; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

#list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* border: 2px solid red; */
    padding: 20px;
    justify-content: center;
}