*{
    padding: 0;
    margin: 0;
}
.container{
    display:grid;
    border: 2px solid black;
    margin: 50px 30px;
    grid-template-columns: repeat(4,365px);
    grid-template-rows: repeat(2,300px);
}
.box{
    /* border: 2px solid black; */
    padding: 15px;
}

.box-2{
    /* grid-column-start: 2; */
    /* grid-column-end: 5; */
    grid-column: 2/5;
}
.box-3{
    grid-column: 1/4;
}

img{
    height: 100%;
    width: 100%;
}