<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Todos</h2>
    <!-- <%= todos %> -->

    <ul>
        <% for(let todo of todos){ %>
            <li> <%= todo %> </li>
        <% } %>
    </ul>

</body>
</html>