<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
    <form>
        <label for="username">Username</label>
        <input id="username" type="text">

        <br> <br>
        <label for="password">Password</label>
        <input id="password" type="password">

        <br> <br>
        <button>Submit</button>

    </form>

<%- include('./partials/footer') %>