<% layout('/layout/boilerplate') -%>

    <form action="/products" method="post" class="mx-auto" style="width: 600px;">
        <div class="mb-3">
            <label for="productname" class="form-label">Product Name:</label>
            <input name="name" type="text" class="form-control" id="productname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="imageLink" class="form-label">Image URL:</label>
            <input name="image" type="text" class="form-control" id="imageLink">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Product Price:</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input name="price" type="number" class="form-control" id="price">
            </div>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Product Desc:</label>
            <textarea class="form-control" name="desc" id="desc" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </form>