<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        Enter Username :
        <br>
        <input required type="text" name="username">
        <br><br>
        Enter Password :
        <br>
        <input required type="password" name="password">
        <br><br>
        Enter Email ID:
        <br>
        <input required type="email" name="email"> 
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>