.container{
     /* width: 780px;  screen size chota krne pe horizontal scroll bar ayega so px nhi use krenge*/
     width: 70%;
     /* height: 200px; */
     border: 2px solid black;
}

/* @media screen and (max-width:900px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width:600px){
    .container{
        width: 100%;
    }
} */

@media screen and (max-width:1000px){
    .container{
        font-size: xx-small;
        width: 20%;
    }

}