.container{
     /* width: 780px;  screen size chota krne pe horizontal scroll bar ayega so px nhi use krenge*/
     width: 70%;
     border: 2px solid black;
}

@media screen and (max-width:900px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width:600px){
    .container{
        width: 100%;
    }
}